.container {
    flex-grow: 1;
}

body {
    overflow: visible;
}

.tab-template {
    margin-top: 30px;
}

.tab-template-fixed {
    position: fixed;
    top: 0;
    background-color: white;
}

.collapsible-header-fixed {
    position: fixed;
    border-top: 1px solid #ddd;
    z-index: 5
}

.header-container{
    text-align: center;
}

.checked-image {
    float: left;
}

.checked-container {
    /*height: 2000px;*/
}

.tab-cursor {
    cursor: pointer;
}

.checked-text {
    display: inline-block;
    line-height: 64px;
    margin-left: 20px;
    font-size: 25px;
}

.major-header {
    font-family: "Roboto", sans-serif;
    font-size: 45px;
}

.minor-header {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    text-align: right;
    letter-spacing: 1px;
}

.inline-block {
    display: inline-block;
}